@font-face {
  font-family: learnmap;
  src: url("./fonts/learnmap.ttf");
}


*{
  font-family: learnmap;
}

body{
  height: 100%;
  background-color: #000000;
}

body::-webkit-scrollbar{
  display: none;
}

.linear-text{
  background: linear-gradient(to right ,#ffffff,#c4c2c2, gray, blue);
  background-clip: text;
  color: transparent;
}

input{
  accent-color: #007bff;
}
